BasedOnStyle: Webkit
AlignAfterOpenBracket: true
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterControlStatement: Never
    AfterFunction: true
    AfterStruct: true
ColumnLimit: 100