[submodule "GameSystem/External/spdlog"]
	path = GameSystem/External/spdlog
	url = https://github.com/gabime/spdlog
[submodule "GameSystem/External/glfw"]
	path = GameSystem/External/glfw
	url = https://github.com/glfw/glfw
