[submodule "GameSystem/External/spdlog"]
	path = game-system/external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "GameSystem/External/glfw"]
	path = game-system/external/glfw
	url = https://github.com/glfw/glfw
